@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');


@tailwind base;
@tailwind utilities;
@tailwind components;

* {
  font-family: 'Outfit', sans-serif;
}

.active{
  background-color: #F0CCB6;
  border-color: #d97706;
}

select, input, textarea{
  border: 1px solid #d97706;
  outline-color: #f59e0b;
  border-radius: 4px;
}